#rowDiv {
   margin:center;
    text-align: center;
    width: 100%;

}
input [type="text"]{
    height: 40px;
    font-size: 20px;

}
#submitWeather {
    height: 40px;
    font-size: 20px;
    font-weight: bold;

}